#slider {
	width:100%;
	height:210px;
	/*IE bugfix*/
	padding:0;
	margin:0 auto 0 auto;
	border: 0px solid #cecece;
}
			
#slider li { 
	list-style:none; 
	z-index: 1;
	background-position: top center;
	background-repeat: no-repeat;}
	
#slider li img{
	float: left;
	border: 2px solid #666;
	margin: 10px 40px 10px 50px;
	width: 240px;
	height: 180px;
}

#slider li img{
	float: left;
	border: 2px solid #666;
	margin: 10px 40px 10px 50px;
	width: 240px;
	height: 180px;
}

#slider li h1{
	font-size: 22px;
	margin: 16px 0px 10px 0px;
	color: #ffffff;
	text-shadow: 2px 2px #4C0101;
}

#slider li p{
	color: #ffffff;
	margin: 0px 50px 0px 0px;
	text-align: justify;
}

#slider li a{
	color:#fff;
	font-size: 16px;
	font-weight:bolder;
	float: left;
	margin-right: 130px;
}
