<h3>Üzenet:</h3>
	<fieldset>
			<legend>Fejléc</legend>
			<p>{uzenet}</p>
			<form name="email_urlap" action="" method="post">
						<p><label for="name">Név:</label>
						<input type="text" name="name" id="name" value="{name}" /><font size="4" style="margin-left: 1em; color:red; white_space: nowrap; font-weight: bild;">*</font><br /></p>
						<p><label for="email">Email:</label>
						<input type="text" name="email" id="email" value="{email}" /><font size="4" style="margin-left: 1em; color:red; white_space: nowrap; font-weight: bild;">*</font><br /></p>
						<p><label for="message">Üzenet:</label>	
						<textarea cols="60" rows="11" name="message" id="message">{message}</textarea><font size="4" style="margin-left: 1em; color:red; white_space: nowrap; font-weight: bild;">*</font><br /></p>
						<p><input type="submit" name="send" class="formbutton" value="Elküldés" /></p>
			</form>
	</fieldset>