<p class="szoveg">
	<span class="szoveg"><strong>A RONARÉD Bt. hivatalos honlapja</strong></span>
	<br /><br /><strong>Kiadja:  </strong><span class="szoveg">A RONARÉD Bt. Ipari Kereskedelmi és Szolgáltató Bt.
	<br />2151 Fót, Rév utca 124.</span> 
	<br /><br />
	<span class="szoveg"><strong>Felelõsszerkesztõ:</strong></span>  <span class="szoveg">Vrona Mihail</span>
	<br /><br />	
	<span class="szoveg"><strong>Fõszerkesztõ:</strong></span>  <span class="szoveg">Rédei Katalin</span>
	<br /><br />
	<span class="szoveg"><strong>A honlap megjelenési ideje:</strong></span>  <span class="szoveg">2014. március 01.</span>
	<br /><br />
	<span class="szoveg"><strong>Jogi nyilatkozat:</strong><a href="?id=#"> jognyilatkozat</a></span>
	<br /><br />
	<span class="szoveg"><strong>Adatvédelem:</strong><a href="?id=#"> adatvédelmi nyilatkozat</a></span>
	<br /><br />
	<span class="szoveg"><strong>Webmester:</strong> <a href="http://www.vario98.hu" ><img src="images/variologo.gif" align="middle" width="113" height="89" alt="Honlap fejlesztés olcsón" title="Honlap fejlesztés, és referenciafilm készítés olcsón" border="0" /></a>  
	</span><br /><br />
	<span class="kisszoveg">Szerkesztõség:<span class="kisszoveg"> RONARÉD Bt. Ipari Kereskedelmi és Szolgáltató Bt. 2151 Fót, Rév utca 124. </span>
	<br />
	Szerkesztõségünknek ezen az  <a href="?id=5">helyen</a> üzenhet!
	</span></p>