<p class="szoveg" style="text-align:center;">
<strong>JOGNYILATKOZAT</strong>
</p>
<p class="kisebbszoveg" align="justify">
<strong>Általános szabály:</strong>
<br /><br />
Jelen jognyilatkozat a tulajdonos által üzemeltetett http://www.ronared.hu/ portálon közzétett tartalom igénybevevõje általi használatának feltételeit tartalmazza.
A RONARÉD Bt. honlapjára történõ belépés és a honlap használata kizárólag az alábbi kikötésekkel és feltételekkel, továbbá a Magyarország jogszabályaival összhangban megengedett.
<br /><br />
<strong>Szerzõi jog:</strong>
<br /><br />
A tartalom elérésével, az olvasó elfogadja az alábbiakban részletezett feltételeket:
<br />
Az http://www.ronared.hu portálon található tartalom a VARIO '98 Oktató és Szolgáltató Betéti Társaság  (továbbiakban: RONARÉD) tulajdonát képezi, kivéve a holnapfejlesztéskor beépített SEO, SEM, webkellék és design elemeket, amelyek a fejlesztõ Vario98 BT http://www.vario98.hu kizárólagos tulajdonát képezi. (továbbiakban együttesen RONARÉD és Vario98 Bt: tulajdonosok).  A tulajdonosok fenntartanak minden, a lap bármely részének bármilyen módszerrel, technikával történõ másolásával és terjesztésével kapcsolatos jogot.
A tulajdonosok elõzetes és írásos hozzájárulása nélkül tilos a portál egészének vagy részeinek felhasználása. A lap tartalmának egyes részeit a felhasználó kizárólag magánfelhasználás céljából merevlemezére mentheti vagy kinyomtathatja. Ezen részek további felhasználása, sokszorosítása, terjesztése, adatbázisban történõ tárolása, letölthetõvé tétele szigorúan tilos. A jogosulatlan vagy törvénysértõ felhasználás büntetõ- és polgári jogi következményeket von maga után.
Az http://www.ronared.hu/ tartalmát kizárólag egyértelmû, minden közlésnél feltüntetett hivatkozással és a tulajdonos engedélyével  lehet átvenni. A honlapon szereplõ fotókat, cikkeket, videókat a személyes és nem kereskedelmi felhasználás eseteinek kivételével tilos azokat akár eredeti, akár átírt formában bármilyen médiumban közölni, sugározni vagy továbbadni, részben vagy egészben számítógépen tárolni.
<br /><br />
<strong>Védjegyek</strong>
<br /><br />
Minden, az RONARÉD honlapján használt védjegy (márkanév, logo stb.) a tulajdonosok, vagy a megfelelõ birtokosok tulajdonában vagy, licenszhasználatában áll.
<br /><br />
<strong>A honlap tartalma</strong>
<br /><br />
A honlapon található információk jóhiszemûen kerültek felhelyezésre, azonban azok kizárólag csak tájékoztató célt szolgálnak. A tájékozódáson kívüli egyéb célok érdekében nem lehet ezen információkra építeni, és az információk pontosságára, teljességére az RONARÉD Bt. nem ad garanciát.
A honlapon található információk semmiképpen sem jelentenek felhívást a tulajdonosokkal kezdeményezendõ jogvitára.
Az RONAÉD Bt. vagy  megbízottai nem vállalnak felelõsséget azokért az esetleges veszteségekért, károkért, költségekért (beleértve, korlátozás nélkül, bármilyen elmaradt hasznot, közvetett, járulékos vagy következményei erkölcsi veszteséget is), amelyek az RONARÉD Bt. honlapjára történõ belépésbõl vagy azok használatából erednek. A honlapon található információk jóhiszemûen kerültek felhelyezésre, azonban azok kizárólag csak tájékoztató célt szolgálnak. A tájékozódáson kívüli egyéb célok érdekében nem lehet ezen információkra építeni, és az információk pontosságára, teljességére az RONARÉD Bt. nem ad garanciát.
Az http://www.ronared.hu nem vállal felelõsséget a tájékoztatásából származó esetleges félreértésekért
Az RONARÉD Bt. fenntartja magának a jogot arra, hogy bármikor, amikor szükségesnek tartja, bármilyen változtatást, javítást végezzen a honlapján, elõzetes figyelmeztetés nélkül.
<br /><br />
<strong>Kapcsolódó honlapok</strong>
<br /><br />
Az RONARÉD Bt. honlapja tartalmazhat olyan kapcsolódási pontokat (ún. hiperlinkek vagy hiperhivatkozások), amelyek más internetes honlapokhoz nyújtanak automatikus kapcsolódási lehetõséget. Ezek a kapcsolódó honlapok harmadik személyek tulajdonában, kezelésében állnak.
A kapcsolódó honlapokhoz az RONARÉD Bt. csupán hozzáférést közvetít, azonban sem a RONARÉD Bt., sem az alkalmazottai, sem megbízottai nem vállalnak semmilyen természetû kötelezettséget, felelõsséget ezekért a honlapokért vagy az azokon elhelyezett információkért, abban az esetben sem, ha azokat az RONARÉD Bt., vagy megbízottja átnézte, vagy jóváhagyta.
Amennyiben Ön kapcsolódó honlapról az RONARÉD Bt. honlapjára szeretne visszajutni, akkor vagy a "back", "vissza" gombokkal/nyilakkal, vagy a honlap domain nevének (http://www.ronared.hu) begépelésével jut vissza.
<br /><br />
<strong>Egyéb információk, melyeket felhasználhatunk:</strong> 
<br /><br />
Talán hallott már az ún. cookie-ról. Ezek file-ok vagy információ darabkák, amelyeket internetes böngészõje ment le honlapunkról és tárolja azokat az Ön gépén. Ezeknek a cookie-knak a segítségével ismeri fel a honlapunk anyagait tároló szerver számítógép a honlapunkra történõ visszalátogatásakor, hogy Ön már járt a honlapjainkon és megadott a részünkre bizonyos adatokat, így ezeket az adatokat nem kéri újra.
A legtöbb internetes böngészõ alapbeállításából kifolyólag elfogad cookie-kat. Ha úgy gondolja, átállíthatja böngészõjét, hogy a cookie-kat visszautasítsa vagy figyelmeztesse Önt arra, hogy cookie-kat küldtek az Ön gépére. A cookie-k visszautasítása esetén lehetséges, hogy nem tudja honlapunk egyes részeit meglátogatni vagy testreszabott információkat fogadni. Emellett szeretnénk honlapunk szolgáltatásait folyamatosan javítani azáltal, hogy lemérjük az egyes honlapok látogatottságát az oldalra vagy képekre történõ klikkelések számával. Honlapunk elmenthet olyan információkat az Ön computerérõl mint az IP-cím (ez egy szám, amely az Ön gépét azonosítja minden esetben mikor meglátogat egy honlapot), böngészõje típusát, computere operációs rendszerét. Mindez azt biztosítja, hogy a honlapunk látogatóinknak a legjobb webélményt és hatékony információs forrást jelentsen.
Ezen információk nem személyes adatok.
<br /><br />
<strong>Az információk biztonsága:</strong> 
<br /><br />
Minden ésszerû intézkedést megteszünk azért, hogy személyes információit biztonságban tudhassa. Minden Ön által szolgáltatott személyes információhoz szigorúan korlátozott a hozzáférés, azért, hogy a jogosulatlan hozzáférést, a személyes adatok megváltoztatását, illetve jogosulatlan felhasználását megelõzzük. Viszont kérjük vegye figyelembe, hogy kötelességünk kiadni személyes adatait akkor, ha ezt törvény, bírósági, más hatósági végzés írja elõ nekünk.
<br /><br />
<strong>A Jogi Figyelmeztetés megváltoztatása:</strong>
<br /><br />
Fenntartjuk a változtatás jogát, amelyeket a RONAEÉD Bt. saját hatáskörében eszközöl. Jelen jognyilatkozat 2014. március 01-én lép hatályba.
</p>


